<main>

	<div class="tasks">
		<figure>
			<img src="../../../../../assets/hw05/cenzor.jpg" alt="">
			<figcaption>{{titleCenzor}}</figcaption>
		</figure>
		<button routerLink="/works/censor">details</button>
	</div>

	<div class="tasks">
		<figure>
			<img src="../../../../../assets/hw05/user.jpg" alt="">
			<figcaption>{{titleTaskList}}</figcaption>
		</figure>

		<button routerLink="/works/userlist">details</button>
	</div>

	<div class="tasks">
		<figure>
			<img src="../../../../../assets/hw05/task.jpg" alt="">
			<figcaption>{{titleUserList}}</figcaption>
		</figure>
		<button routerLink="/works/tasklist">details</button>
	</div>

</main>